@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #EDD18E, #ED8EB6 90%);
}

main {
     background-color: #D9D4B4;
     border-radius: 10px;
     box-shadow: 5px 5px 15px #dbb80b67;
     width: 600px;
     padding: 10px;
     margin: auto;
}

h1 {
    color: #D217DB;
    text-align: center;
    text-shadow: 1px 1px 0px #d117db4d;
}

h2 {
color: #ED8EB6;
}

p { 
    text-align: justify;
}